@font-face {
    font-family: Montserrat-bold;
    src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: Montserrat-light;
    src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: Montserrat-thin;
    src: url(../fonts/Montserrat-Thin.otf);
}
@font-face {
    font-family: Montserrat-regular;
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: Montserrat-medium;
    src: url(../fonts/Montserrat-Medium.otf);
}
